
<div *ngIf="showHome" class="card-container">
  <div class="card">
    <div class="card-header bg-dark-blue text-white">
      <h5 class="text-center">Please choose:</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <li class="list-group-item" (click)="openWeatherApp()">
          <a href="#" class="">Days Manager</a>
        </li>
        <li class="list-group-item" (click)="openWeatherManager()">
          <a href="#" class="">Weather Manager</a>
        </li>
      </div>
    </div>
  </div>
</div>


  <app-weather *ngIf="showWeatherApp" [showBy]="'day'"></app-weather>
  <app-weather-manager *ngIf="showWeatherManager"></app-weather-manager>
