.border-top-only {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0 none;
}

.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  justify-content: center;
  align-items: center;
}

.query-input {
  border: none;
  border-radius: 0%;
  border-bottom: 1px solid #1890ff;
  padding: 5px 10px;
  outline: none;
}

.fixed-width{
  width: fit-content;
}

li {
	white-space: nowrap;
	padding: 0 10px;
}
